/***
Modify bootstrap buttons
***/

/* remove rounds from all elements */




/***
Forms
***/




.uneditable-select,
textarea.chosen1,
select.chosen1{
  -webkit-appearance: none !important;		
}


.uneditable-select,
textarea.chosen,
select.chosen{   -webkit-appearance: none !important;	
	
}



.uneditable-input,
textarea.m-wrap,
input[type="text"].m-wrap,
input[type="password"].m-wrap,
input[type="datetime"].m-wrap,
input[type="datetime-local"].m-wrap,
input[type="date"].m-wrap,
input[type="month"].m-wrap,
input[type="time"].m-wrap,
input[type="week"].m-wrap,
input[type="number"].m-wrap,
input[type="email"].m-wrap,
input[type="url"].m-wrap,
input[type="search"].m-wrap,
input[type="tel"].m-wrap,
input[type="color"].m-wrap {
  -webkit-appearance: none !important;   		
  outline: 0;
  font-weight: normal;
  vertical-align: top;  
	background-color: #ffffff;
	background-image: none !important;
  filter: none !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;

  background: transparent;   
}




.uneditable-input.focus,
textarea.m-wrap:focus,
select.m-wrap:focus,
input[type="text"].m-wrap:focus,
input[type="password"].m-wrap:focus,
input[type="datetime"].m-wrap:focus,
input[type="datetime-local"].m-wrap:focus,
input[type="date"].m-wrap:focus,
input[type="month"].m-wrap:focus,
input[type="time"].m-wrap:focus,
input[type="week"].m-wrap:focus,
input[type="number"].m-wrap:focus,
input[type="email"].m-wrap:focus,
input[type="url"].m-wrap:focus,
input[type="search"].m-wrap:focus,
input[type="tel"].m-wrap:focus,
input[type="color"].m-wrap:focus,
.m-uneditable-input:focus {
  outline: 0 !important;
  /* IE6-9 */
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
}

input[disabled],
textarea[disabled] {
  cursor: not-allowed;

}

input[readonly],
textarea[readonly] {
  cursor: not-allowed;

}


input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

input[type="radio"].m-wrap,
input[type="checkbox"].m-wrap {
 
  	line-height: normal;
	  cursor: pointer;		
  	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;		
}






input[type="file"].m-wrap:focus,
input[type="radio"].m-wrap:focus,
input[type="checkbox"].m-wrap:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;  
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}



.input-prepend,
.input-append {
	border: 0;
  display: inline-block;
}



.input-append .m-wrap,
.input-append .m-wrap:focus {
	border-right: 0 !important;
  margin-right: 1px;
}

.input-prepend input,
.input-prepend input:focus {
	border-left: 0 !important;
  margin-left: 1px;
}

.input-append input[class*="span"],
.input-prepend input[class*="span"]
{
  display: inline-block !important;
}


