body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, dl, dt, dd, input, img, form, button, blockquote{margin: 0; padding: 0;}
.tianjia{width: 500px;border: 1px solid #F0F0F0;;margin:30px auto;}
.moren {width: 200px;border: 1px solid #BCBCBC;display: inline-block;margin: 20px;}
.title{font-family: "Adobe Heiti Std";font-size: 14px;padding-top: 10px;}
.moren span{font-size: 12px;font-family: "Adobe Heiti Std"}
.diqu{font-size: 16px;text-align: left;display: inline-block}
.ad{width: 100px;height: 30px;border: 1px solid black;display: inline-block}

.address_top{width:100%;background:#f6f6f6;height:42px;border-bottom:1px solid #b5b5b5;}
.address_top a{display:block;font-size:14px;color:#1a2432;width:72px;text-align:center;line-height:41px;border-bottom:3px solid #c8161d;margin-left:15px;}

.address_main{width:100%;}
.address_main .new_address{width:100%;height:82px;border-bottom:1px dashed #c8c8c8;padding-top:32px;}
.address_main .new_address a{display:block;color:#fff;width:100px;height:30px;text-align:center;line-height:30px;background:url(../images/addr/btn.png) no-repeat;font-size:13px;margin-left:20px;}
.address_main .address_num{line-height:70px;font-size:12px;color:#1d1d1d;margin-left:20px;}
.address_main .address_list{margin-top:10px;width:903px;height:206px;border:1px solid #c8c8c8;padding:21px;position:relative;}
.address_main .address_list dt{float:left;text-align:right;width:70px;margin-right:20px;line-height:30px;font-size:12px;color:#1d1d1d;}
.address_main .address_list dd{margin:0 0 0 90px;line-height:30px;font-size:12px;color:#1d1d1d;}
.address_main .address_list .address_edit{position:absolute;right:70px;bottom:10px;line-height:34px;}
.address_main .address_list .address_edit a{margin-right:24px;font-size:12px;color:#0b81ee;display:inline-block;}
.address_main .address_list .address_edit #nobtndef{color:#fff;width:66px;height:27px;text-align:center;line-height:27px;background:url(../images/addr/btnsure.png) center;}
.address_main .address_list .address_edit a:first-child{color:#797979;margin-right:40px;width:66px;height:27px;text-align:center;line-height:27px;}
.address_main .set .address_edit a:first-child{float:left;display:block;color:#fff;width:66px;height:28px;margin-right:30px;background:url(../images/addr/btnsure.png) no-repeat;text-align:center;line-height:28px;margin-top:3px;}
.address_main .add_address_btn{display:block;width:30px;height:30px; /*margin-top: 10px;*/}


