.content-title{width: 1400px;background:#E2EBF1;margin: 20px auto}
.content-title p{font-size:25px;font-family: "Microsoft Yahei", Tahoma;margin-left: 20px;color: #4D8AE3}
.view-list{width: 1110px;margin: 0 auto;}
.view-list h3{text-align: center;}
.view-list p{text-indent: 2em;font-size: 16px;font-family: "Microsoft Yahei", "微软雅黑";padding-top: 10px;letter-spacing: 3px;}
