@media screen and (min-width: 700px) {
    .gg_culture_active{background: #f7f7f7}
}
.gg_culture_active .gg_culture_act_box{margin:0 auto;width: 1190px;overflow: hidden;}
.culture_act_title{overflow: hidden;}
.title_name{background: url(../images/index/shuji.png) no-repeat 25px 25px;color: #962626;font-size: 23px;padding: 22px 22px 20px 60px;width: 450px;float: left}
.title_name .title_en{font-weight: 700;margin-bottom: 0;line-height: 25px}
.gg_xhx{border:1px solid #962626;width: 70px}
.culture_title_right{font-size: 20px;color: #161f2b;float: right;margin-top: 70px;margin-right: 20px}
.culture_title_right a{color: #161f2b;}
.culture_title_right .gg_xx{padding-left: 40px;padding-right: 40px}
.gg_culture_active .culture_act_list{padding: 0px 0 20px 30px;overflow: hidden;margin-bottom: 0}
.gg_culture_active .culture_act_list li{padding-bottom: 20px;background: #fff;width: 270px;float: left;margin-right: 20px}
.gg_culture_active .culture_act_list li img{width: 270px;height: 188px;}
.gg_culture_active .culture_act_list li h3{font-size: 18px;color: #333333; height: 44px; line-height: 22px;padding: 0 15px; overflow: hidden;}
.gg_culture_active .culture_act_list li .culture_act_p{margin-bottom: 0;font-size: 14px;color: #6e6e6e;line-height: 18px;padding: 0 15px}
.gg_culture_active .culture_act_list li a{border-radius:5px; margin: 15px auto 0;text-align: center;display:block;width: 100px;height: 34px;background: #93262a;color: #fff;font-size: 16px;line-height: 34px}
.dw_tu{background: url(../images/index/dw.png) no-repeat 25px 25px;}
.zg_tu{background: url(../images/index/zg.png) no-repeat 25px 25px;}
.ss_tu{background: url(../images/index/zg.png) no-repeat 25px 25px;}
.xz_tu{background: url(../images/index/zx.png) no-repeat 25px 25px;}
.tj_tu{background: url(../images/index/zj.png) no-repeat 25px 25px;}
.ss_zone{background: url(../images/index/pubindexzone.png) no-repeat 25px 25px;}
.cptjtit{background: url(../images/index/dangan.png ) no-repeat 25px 25px;}
.cpxqtit{background: url(../images/index/xiqu.png ) no-repeat 25px 25px;}
.gg_active_dingwei{ padding: 10px 0px 20px;}
.gg_active_dingwei .gg_active_dingwei_box{width: 1190px;margin: 0 auto;}
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content{overflow: hidden;}
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content .gg_dw_left{width: 495px;height: 460px;border:1px solid #e4e4e4;float: left}
.pignose-tab-wrapper .pignose-tab-btn{background: #fff;border:none;line-height: 60px}
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content .gg_dw_left .pignose-tab-group{height: 60px;padding-left: 3px}
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content .gg_dw_left ul .pignose-tab-list{height: 60px}
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content .gg_dw_left ul .active{color:#962626;font-weight:400 }
.gg_active_dingwei .gg_active_dingwei_box .gg_dw_content .gg_dw_left ul .pignose-tab-btn{height: 59px;font-size: 16px}
.gg_dw_left .ggwh_HdList li{line-height: 40px;height: 60px}
.gg_dw_right{float: right;}

/*.fastlink{ background: #fff; padding: 10px 0 26px 0;}
.fastlink a{display: inline-block; color: #767676; padding: 0 26px 0 24px;  position: relative;}
.fastlink a:after{ position: absolute; right: 0; content: " "; top: 8px; height: 32px;width: 1px; background: #767676; transform: rotate(20deg)}
.fastlink a:last-child:after{display: none;}
.fastlink a:hover{ color: #9c3333;}
.fastlink a i{float: left; text-align: center; line-height: 52px; font-size: 30px; width: 52px;height: 52px; border: 2px solid #767676; border-radius: 50%; }
.fastlink a:hover i{ border: 2px solid #9c3333;}
.fastlink a .name{font-size: 20px; margin-left: 66px;}
.fastlink a .en{ font-size: 12px; margin-left: 66px;}*/
.fastlink{ background: #fff; padding: 10px 0 26px 0;}
.fastlink a{float: left; width: 379px; height: 75px; margin-left: 17.5px;  margin-bottom: 17.5px;padding: 30px 0 0 16px; box-sizing: border-box; border: 2px solid transparent; background-size: cover; color: #3c3c3c;  position: relative;}
/* .fastlink a:first-child { margin-left: 0; } */
.fastlink a h5{ font-size: 20px; margin: 0;}
.fastlink a h6{ font-size: 12px;margin: 0;}
.fastlink a:hover{ border: 2px solid #962626;color: #962626;}


.gg_cptj{padding: 22px 0;}
.gg_cptj .conbox{ overflow: hidden;zoom:1; }
.gg_cptj .conbox .slidelt{ width: 323px; float: left;}
.gg_cptj .conbox .slidemid{ width: 552px; float: left;}
.gg_cptj .conbox .slidert{ width: 314px; float: left;}
.gg_cptj .conbox .slidelt .acates{ height: 112px;border: 1px solid #d2d2d2; line-height: 32px; padding: 8px 16px; font-size: 16px;}
.gg_cptj .conbox .slidelt .acates a{ display: inline-block; line-height: 24px; padding:0px 6px; color: #242424;}
.gg_cptj .conbox .slidelt .acates a:hover,.gg_cptj .conbox .slidelt .acates a.on{ background: #962626; color: #fff;}
.gg_cptj .conbox .slidelt .acates img{ display: block;}
.gg_cptj .conbox .slidemid ul{ border-top: 1px solid #d2d2d2;}
.gg_cptj .conbox .slidemid li{ width: 184px; float: left; height: 256px; padding: 20px 19px 0px; border-right:1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2;}
.gg_cptj .conbox .slidemid li a{ color: #737373;}
.gg_cptj .conbox .slidemid li .proimg{ width: 144px; height: 144px; display: block;}
.gg_cptj .conbox .slidemid li .proname{ margin: 5px 0px;}
.gg_cptj .conbox .slidemid li .price{ color: #000; font-size: 18px; }
.gg_cptj .conbox .slidert .ulpro{ margin-bottom: 0;}
.gg_cptj .conbox .slidert .ulpro li{ position: relative; border-top: 1px solid #d2d2d2; padding: 10px; height: 143px; border-right: 1px solid #d2d2d2;}
.gg_cptj .conbox .slidert .ulpro li a{color: #737373;}
.gg_cptj .conbox .slidert .ulpro li .proimg{ width: 124px; height: 124px; float: left;}
.gg_cptj .conbox .slidert .ulpro li .rtdiv{ margin-left: 144px;}
.gg_cptj .conbox .slidert .ulpro li .proname{ height: 66px; padding-top: 10px; display: block;}
.gg_cptj .conbox .slidert .ulpro li .price{ color: #000; font-size: 18px;}
.gg_cptj .conbox .slidert .ulpro li .delprice{ color: #737373;text-decoration: line-through;}
.gg_cptj .conbox .slidert .ulpro li .atosee{ position: absolute; right: 10px; top: 130px; width: 85px; line-height: 30px; color: #fff; background: #93262b; text-align: center; border-radius:8px;}
.gg_cptj .conbox .slidelt .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 4px; }
.gg_cptj .conbox .slidelt .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {  }
.gg_cptj .conbox .slidelt .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { width: 32px; height: 6px; background: rgba(0,0,0,0.55); opacity: 1; border-radius: inherit; }
.gg_cptj .conbox .slidelt .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active { background: rgba(255,255,255,1); }

@media screen and (min-width: 700px) {
    .pp_dangan{background: #f7f7f7;padding: 30px 0;}
}
.pp_dangan li{float: left;width: 282px;height: 265px;/*border: 1px solid #dcdcdc;*/ background: #fff; margin-left: 23.5px;}
.pp_dangan li:first-child{margin-left: 0;}
.pp_dangan li a{display: block;position: relative;width: 100%; height: 100%;}
.pp_dangan li a img{ width: 100%; height: 197px; }
.pp_dangan li a p.title{ font-size: 16px; color: #1b1b2b; margin: 10px 0 0; padding: 0px 14px 0; line-height: 22px; max-height: 44px; overflow: hidden; }
.pp_dangan li a span{ display: block; font-size: 14px; color: #6b6b70; text-indent: 13px; }
.pp_dangan li a .shadow{ position: absolute; width: 100%; height: 211px; background: rgba(150,38,38,0.68); bottom: 0; left: 0; padding: 28px 16px; box-sizing: border-box; display: none; }
.pp_dangan li a .shadow h5 { font-size: 16px; color: #fff; margin: 0; max-width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.pp_dangan li a .shadow em { display: block; font-size: 14px; color: #fff; font-style: normal; margin-top: 5px; max-width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.pp_dangan li a .shadow p { font-size: 14px; color: #fff; text-indent: 0; padding-top: 12px; }
.pp_dangan li a .shadow p span { font-size: 14px; color: #fff; text-indent: 0; margin-bottom: 5px; }
.pp_dangan li:hover { border-color: #962626; }
.pp_dangan li:hover .shadow { display: block; }

.pp_xiqu{background: #fff;padding: 30px 0;}
.pp_xiqu .swiper-content { border: 1px solid #e4e4e4; }
.pp_xiqu .swiper-content ul { padding: 30px 40px; }
.pp_xiqu li{float: left;width: 268px;height: 228px;/*border: 1px solid #dcdcdc;*/ background: #fff; margin-left: 15px;}
.pp_xiqu li:first-child{margin-left: 0;}
.pp_xiqu li a{display: block;position: relative;width: 100%; height: 100%;}
.pp_xiqu li a img{ width: 100%; height: 197px; }
.pp_xiqu li a p.title{ font-size: 20px; color: #333; margin: 10px 0 0; line-height: 20px; text-align: center; }
.pp_xiqu .swiper-button-prev{background-image:url("../images/index/prev.png");}
.pp_xiqu .swiper-button-next{background-image:url("../images/index/next.png");}

.gg_wh_zyg{background: #f7f7f7;margin-top: 20px;}
.gg_wh_zyg .gg_wh_zyg_box{width: 1190px;margin: 0 auto;padding-bottom:33px;}
.gg_wh_zyg .gg_wh_zyg_box .zyg_content{width: 1020px;padding: 25px 70px;background: #fff;margin: 0 auto}
.gg_wh_zyg .gg_wh_zyg_box .zyg_content img{width: 565px;height: 365px}
.gg_wh_zyg .gg_wh_zyg_box .zyg_content .zyg_c_r{width: 295px;float: right;}
.gg_wh_zyg .gg_wh_zyg_box .zyg_content .zyg_c_r h2{font-size: 20px;color: #222;}
.gg_wh_zyg .gg_wh_zyg_box .zyg_content .zyg_c_r p{font-size: 16px;color: #6e6e6e;line-height: 26px}

.gg_wh_ss{background: #f7f7f7;margin-top: 0px}
.gg_wh_ss .ggwh_ss_box{width: 1190px;margin: 0 auto;}
.gg_wh_ss .ggwh_ss_box .ggwh_ss_list{overflow: hidden;}
.gg_wh_ss .ggwh_ss_box .ggwh_ss_list li{float: left;width: 190px;margin-right: 10px}
.gg_wh_ss .ggwh_ss_box .ggwh_ss_list li:last-child{margin-right: 0}
.gg_wh_ss .ggwh_ss_box .ggwh_ss_list li img{width: 190px;height: 110px}
.gg_wh_ss .ggwh_ss_box .ggwh_ss_list li h4{font-size: 18px;color: #222;line-height: 42px;text-align: center;}
@media screen and (min-width: 700px) {
    .gg_zuixin{ background: #f7f7f7; padding:10px 0 26px;}
}
.gg_zuixin .gg_zuixin_box{width: 1190px;margin: 0 auto;overflow: hidden;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left{width: 505px;float: left}
.gg_zuixin .gg_zuixin_box .gg_zuixin_right{width: 665px;float: right;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con{background:#fff;border:1px solid #e4e4e4;height: 643px  !important;padding: 30px}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_ph_first{margin-bottom: 20px;position: relative;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_ph_first:before{content: '';width: 37px; height: 45px; background: url(../images/index/hot.png) no-repeat center;position: absolute;left: 0; top: 0;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_first_img{width: 205px;height: 260px}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_l_c{width: 220px;float: right;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_l_c h3{font-size: 21px;color: #222;font-weight: 400}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_l_c p{font-size: 16px;color: #6e6e6e}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_l_c .zx_l_gkr{color: #962626}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_l_c .zx_l_zw{line-height: 26px;height: 104px;overflow: hidden;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con img{width: 205px;height: 142px}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_t_t{width:185px;float: left;margin-bottom: 10px;margin-top: 10px;position: relative;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_t_t:before{content: '2';width: 28px; height: 20px; background: #962626;position: absolute;left: 0; top: 0;text-align: center;line-height: 20px;color: #fff;font-size: 16px;font-weight: bold;font-style: italic;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_three_li:before{content: '3';width: 28px; height: 20px; background: #962626;position: absolute;left: 0; top: 0;text-align: center;line-height: 20px;color: #fff;font-size: 16px;font-weight: bold;font-style: italic;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_three_li{margin-left: 50px}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con .zx_t_t .zx_tt_title{line-height: 29px;font-size: 16px;color: #222; word-wrap:break-word; word-break:break-all;font-weight: 500}
.zx_t_t p{font-size: 16px;color: #888;margin-bottom: 0}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li{font-size: 16px; line-height: 36px;padding-top: 5px;border-bottom: 1px dashed #E5E5E5}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li a{color: #1b1b2b; position: relative;padding-left: 30px;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li a:hover{color: #962626;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li a:hover:before{content: 'â—';position: absolute; left: 15px;top:-8px;color: #962626;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li a span{color: #962626;display: inline-block;float: right;}
.gg_zuixin .gg_zuixin_box .gg_zuixin_left .zx_left_con li:last-child{border:none;}

.gg_wh_zone{}
.gg_wh_zone .ggwh_ss_box{width: 1190px;margin: 0 auto;}
.gg_zone{ background: url("../images/index/pubindexzone.png") no-repeat;}
.pubzonelinks{ font-size: 16px; text-align: center; padding-bottom: 16px; }
.pubzonelinks cite{ display: inline-block; margin: 0 5px 5px 0; font-style: normal; cursor: pointer; position: relative; z-index: 99;}
.pubzonelinks a{ color: #4a4a4a;}
.pubzonelinks a:hover{ color:#93262a; }
.pubzonelinks cite>a{ display: inline-block; line-height: 36px; padding: 0px 6px; border: 2px solid #e4e4e4;}
.pubzonelinks cite>a:hover{ border: 2px solid #93262a;}
.pubzonelinks cite:hover p{display: block;}
.pubzonelinks cite p{ position: absolute; width: 420px; background: #fff; text-align: left; display: none; padding: 6px 0;}
.pubzonelinks cite p a{ display: inline-block; line-height: 20px; margin: 0 6px; font-size: 13px;}
.zxtj_images { width: 100%; height: 360px; }
.zxtj_images .swiper-container { width: 100%; height: 100%; }
.zxtj_images .swiper-container a { display: block; width: 100%; height: 100%; position: relative; }
.zxtj_images .swiper-container p.desc { width: 100%; height: 48px; line-height: 48px; background: rgba(0,0,0,0.64); position: absolute; bottom: 0; left: 0; font-size: 22px; color: #fff; margin: 0; }
.zxtj_images .swiper-container p.desc span { display: inline-block; width: 470px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-indent: 20px; }
.zxtj_images .swiper-pagination-fraction, .zxtj_images .swiper-pagination-custom, .zxtj_images .swiper-container-horizontal > .swiper-pagination-bullets { text-align: right; }
.zxtj_images .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { width: 14px; height: 14px; background: rgba(255,255,255,0.42); opacity: 1; }
.zxtj_images .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active { background: rgba(255,255,255,0.88); }
/*.zxtj_images .zxtj_one{width: 330px;height: 213px;margin-bottom: 20px}
.zxtj_images .zxtj_two{width: 146px;height: 213px;margin-left: 17px;margin-bottom: 20px}
.zxtj_images .zxtj_three{width: 150px;height: 213px;margin-right:16px }
.zxtj_images .zxtj_four{width: 324px;height: 213px}*/

.zxtj_content{border: 1px solid #e4e4e4;margin-top: 20px;padding:20px;height: 330x; background: #fff;}
.zxtj_content p{font-size: 16px;line-height: 30px}
.zxtj_content h3{margin-top: 0}
.zxtj_content li a { display: block; font-size: 16px; color: #1b1b2b; max-width: 486px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding: 10px 0; }
.zxtj_content li a:hover { color: #93262a; }
.zxtj_content li strong { font-size: 16px; color: #1b1b2b; font-weight: bold; }
.zxtj_content .more { float: right; font-size: 16px; color: #962626; position: relative; top: -20px; }
